<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard - OpenAquaponics</title>

{% load static %}
<link rel="stylesheet" href="{% static 'oa/multiColumnTemplate.css' %}">
</head>
<body>
<div class="container">
  <header>
    <a id="top"></a>
    <div class="primary_header">
      <h1 class="title">OpenAquaponics</h1>
    </div>
    <nav class="secondary_header" id="menu">
      <ul>
        <li><a href="{% url 'index' %}">DASHBOARD</a></li>
        <li><a href="{% url 'logs' %}">LOGS</a></li>
        <li><a href="{% url 'settings' %}">SETTINGS</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Hello</h2>
    <article class="left_article">
      {% if tempIR and tdsIR and pHIR %}
      <h3 class=dashboard_overview_good style="color: #8AC860;">Everything is going swimmingly well!</h3>
      {% else %}
      <h3 class=dashboard_overview_bad style="color: #DE1D20;">Something is fishy!</h3> 
      {% endif %}
    </article>
    <!--<aside class="right_article"><iframe width="100%" height="100" src="http://10.0.1.4:8081/" alt="" class="placeholder"></iframe><!-- </aside>-->
    <img id="image" src="http://10.0.1.6:8081/0/stream"></img>
  </section>
  <div class="row">
    <div class="columns">
	    <p style=" font-size: 30px;
    color: #8AC860;
    text-align: center;"> {{sensor_reading.waterLevel }} </p>
      <h4>Water Status</h4>
    </div>

    <div class="columns">
        {% if tempIR %}
            <p style="
    font-size: 30px;
    color: #8AC860;
    text-align: center;"> {{sensor_reading.thermo}} </p> 
        {% else %}
            <p style="  
    font-size: 30px;
    color: #DE1D20;
    text-align: center;"> {{sensor_reading.thermo}} </p>
        {% endif %}
      <h4>Temperature (&deg;C)</h4>
    </div>

    <div class="columns">
        {% if tdsIR %} 
            <p style="
    font-size: 30px;
    color: #8AC860;
    text-align: center;"> {{sensor_reading.tds}} </p>
        {% else %}
            <p style="    
    font-size: 30px;
    color: #DE1D20;
    text-align: center;"> {{sensor_reading.tds}} </p>
        {% endif %}
      <h4>Total Disolved Solids (ppm)</h4>
    </div>

    <div class="columns">
	    {% if pHIR %}
            <p style="
    font-size: 30px;
    color: #8AC860;
    text-align: center;"> {{sensor_reading.pH}} </p>
        {% else %}
            <p style="    
    font-size: 30px;
    color: #DE1D20;
    text-align: center;"> {{sensor_reading.pH}} </p>
        {% endif %}
      <h4>pH</h4>
    </div>
  </div>
  <div class="row blockDisplay">
    <div class="column_half left_half">
      {% if lightStatus == "ON" %}
      <h2 class="column_title" style="background-color:green;height:100px;margin:auto;">Lights -
		On</h2>
      {% else %}
      <h2 class="column_title" style="background-color:red;padding:50px;">Lights -
        Off</h2>
      {% endif %}
		
    </div>

  </div>

  <footer class="secondary_header footer">
    <div class="copyright"><a href="#top">Back to top</a></div>
  </footer>
</div>
</body>
</html>
